* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: black;
    margin: 0px;
}

header {
    background-color: white;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 12px 0;
    top: 0;
    display: block;
    z-index: 2000;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    position: relative;
    align-items: center;
}

.navbar a{
    font-size: 20px;
    color: black;
    font-weight: 300px;
    margin: 0px 20px;
    transition: 0.5s;
}

.navbar a:hover, .navbar a:active{
    color: rgb(255,199,44);
}

.navbar img {
    width: auto;
    height: 50px;
    margin-left: 15px;
}

.navbar ul {
    display: flex;
}

ul {
    list-style-type: none;
}

li {
    justify-content: space-between;
    margin: 7px 10px;
}

li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

li a:hover {
    color: rgb(255,199,44);
}

.coloring-mac a:hover {
    color: black;
}

/* masih ragu mau buat slider atau enggak */
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(150, 44, 44);
    background-size: cover;
    margin-top: 25px;
    padding: 50px 10%;
}

.home img {
    width: 100%;
    height: auto;
    align-items: center;
}

.animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    animation: show-right 0.4s ease-out forwards;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes show-right {
    100% {
        width: 0;
    }
}

.sale-container {
    position: relative;
    width: 100%;
    z-index: 2;
}

.sale-icon {
    top: -30px;
    left: -50px;
    position: absolute;
    width: 110px;
    box-sizing: border-box;
    overflow: hidden;
    animation: float 2s ease-in-out infinite;
}

#sale1 {
    animation: float 2.5s ease-in-out infinite;
}

#sale2 {
    animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }    
    50% {
        transform: translateY(-20px);
    }    
    100% {
        transform: translateY(0px);
    }
}


.banner {
    object-fit: cover;
    width: 100%;
    height: 55%;
    padding-top: 75px;
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.box-1 {
    padding-top: 20px;
    padding: 50px 10%;
    background: rgb(150, 44, 44);
}

.box-1 ul {
    /* padding-top: 2%; */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.box-1 li {
    margin: 15px 15px;
}
.box-1 h1{
    padding: 10px 0;
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.box-1 button {
    display: flex;
    margin: 0 auto;
    background-color: rgb(218,41,28);
    border: none;
    color: white;
    height: 40px;
    width: auto;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    padding: 0 10px;
    transition: background-color 0.5s ease;
    margin-top: 20px;
    transition: 0.5s;
}

.box-1 button:hover {
    background-color: rgb(174, 32, 22);;
}

.box-1-1 {
    background-color: #f2f2f2;
    padding: 50px 10%;

}

.box-1-1 ul{
    display: flex;
    justify-content: center;
}

.box-1-1 h1{
    text-align: center;
}

.box-1-1 button {
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgb(218,41,28);
    border: none;
    color: white;
    height: 40px;
    width: auto;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    padding: 0 10px;
    transition: background-color 0.5s ease;
}

.box-1-1 button:hover {
    background-color: rgb(174, 32, 22);;
}

.card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding-bottom: 5px;
    transition: box-shadow 0.3s ease;
    background-color: white;
}

.card img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 5px;
}

.card .card-content {
    margin: 10px 10px;
    background-color: white;

}

.card .card-content h3{
    height: 1.5em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card .card-content p{
    font-size: 18px;;
    margin-top: 5px;
}

.card:hover {
    box-shadow: 0 0 10px 2px gray;
}

.box-1-2 {
    background-color: #ffbc0d;
    display: flex;
    padding-left: 20px;
}

.box-1-2 img {
    width: 40%;
    height: auto;
    margin: 30px 70px;
}

.box-1-2 .content {
    margin: auto 0;
    margin-left: 20px;
}

.box-1-2 button {
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    background-color: rgb(218,41,28);
    border: none;
    color: white;
    height: 40%;
    width: auto;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    padding: 0 10px;
    transition: background-color 0.5s ease;
}

.box-1-2 button:hover {
    background-color: rgb(174, 32, 22);;
}

footer {
    padding-top: 30px;
    bottom: 0;
    color: white;
}

footer h4 {
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    /* color: white; */
}

footer a {
    color: white;
}

.box-2 {
    /* padding-bottom: 20px; */
    display: flex;
}

.copy {
    /* background-color: #f2f2f2; */
    padding: 20px 0;
    width: 100%;
}

.copy-text {
    margin-left: 50px;
}

footer {
    background-color: rgb(150, 44, 44);
}

#footer-1 {
    margin-left: 40px;
}

footer .box-2 {
    justify-content: space-between;
    margin-right: 10%;
}

footer .box-2 .footer-link {
    display: flex;
}

footer .box-2 img {
    width: 30%;
    height: auto;
}

footer .box-2 h1 {
    align-items: center;
}

footer .footer-logo {
    display: flex; 
    justify-content: space-evenly;
}

