<!-- 
    Code footer.ejs, untuk bagian footer yang berisi contact us, about us, dsb
 -->
<footer>
    <h4>McDini's</h4>
    <div class="footer-container">
        <div class="footer-link">
            <ul id="footer1">
                <li><a href="">Contact Us</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="">Newsroom</a></li>
                <li><a href="">Career</a></li>
            </ul>
            <ul id="footer2">
                <li><a href="">Service</a></li>
                <li><a href="">Certification & Quality Assurance</a></li>
                <li><a href="">CSR</a></li>
                <li><a href="">McDonald's App</a></li>
            </ul>
        </div>
        <div class="footer-logo">
            <img src="../assets/logo_mcd.png">
            <h1>I'm Likin' It</h1>
        </div>
    </div>
    <div class="copy"><span class="copy-text">&copy;McDini's Tarumanagara</span></div>
</footer>