<header id="navbar"><span class="animation" style="--i:1;"></span>
    <div class="navbar">
        <a href="#" class="logo"><img src="../assets/logo_mcd.png"></a>
        <ul class="center-navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/order">Order</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <ul class="right-navbar">
            <% if(user) { %>
                <li><%= user.username %></li>
                <li><a href="/logout">Logout</a></li>
            <% } else { %>
                <li><%- include("../login") %></li>
                <!-- <li><button id="show-login">Login</button></li> -->
                <li><%- include("../signup") %></li>
                <% } %>
        </ul>         
    </div>
</header>