<!-- 
    About Page, menjelaskan creator dan designer dari Kelompok kami
 -->
    <section class="about">
        <div class="header">
            <h2>About Us</h2>
        </div>
        <div class="container" id="about">
            <div class="creator">
                <p><b>Created and Designed by:</b></p>
                <table>
                    <tr><td>Jason Permana</td><td>535220002</td></tr>
                    <tr><td>Arya Wira Kristanto</td><td>535220004</td></tr>
                    <tr><td>Nicholas Martin</td><td>535220027</td></tr>
                    <tr><td>Kevin Jonathan JM</td><td>535220038</td></tr>
                </table>
            </div>
            <img src="../assets/Untar.jpg">
        </div>
    </section>