        <img src="assets/slide1.webp" alt="slideshow2" class="banner">
        <img src="assets/slide2.webp" alt="slideshow3" class="banner">
        <div class="box-1">
            <h1>Today's Offers</h1>
            <ul>
                <li class="coloring-mac">
                    <div class="card">
                        <div class="card-content">
                            <a href="/order">
                                <div class="sale-container">
                                    <div class="sale-icon" id="sale1">
                                        <img src="assets/SALE_ICON.png">
                                    </div>
                                </div>
    
                                <img src="assets/offer1.webp">
                                <h3>Paket HeBat (Hemat Banget)</h3>
                                <p>Berlaku hingga 31 Desember 2024</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="coloring-mac">
                    <div class="card">
                        <div class="card-content">
                            <a href="/order">
                                <div class="sale-container">
                                    <div class="sale-icon" id="sale2">
                                        <img src="assets/SALE_ICON.png">
                                    </div>
                                </div>
    
                                <img src="assets/offer2.webp">
                                <h3>Best Burger: Hotter, Juicier, Tastier</h3>
                                <p>Berlaku hingga 31 Maret 2024</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="coloring-mac">
                    <div class="card">
                        <div class="card-content">
                            <a href="/order">
                                <div class="sale-container">
                                    <div class="sale-icon" id="sale3">
                                        <img src="assets/SALE_ICON.png">
                                    </div>
                                </div>

                                <img src="assets/offer3.webp">
                                <h3>Hemat order McDelivery Setiap hari!</h3>
                                <p>Berlaku hingga 20 Maret 2024</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="coloring-mac">
                    <div class="card" style="display: none;" id="hidden-card1">
                        <div class="card-content">

                            <a href="/order">
                                <div class="sale-container">
                                    <div class="sale-icon" id="sale1">
                                        <img src="assets/SALE_ICON.png">
                                    </div>
                                </div>

                                <img src="assets/offer4.webp">
                                <h3>Promo Kilat 3.3</h3>
                                <p>Berlaku hingga 30 Maret 2024</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="coloring-mac">
                    <div class="card" style="display: none;" id="hidden-card2">
                        <div class="card-content">

                            <a href="/order">
                                <div class="sale-container">
                                    <div class="sale-icon" id="sale2">
                                        <img src="assets/SALE_ICON.png">
                                    </div>
                                </div>

                                <img src="assets/offer5.webp">
                                <h3>Promo I Love Monday</h3>
                                <p>Berlaku hingga 30 April 2024</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="coloring-mac">
                    <div class="card" style="display: none;" id="hidden-card3">
                        <div class="card-content">

                            <a href="/order">
                                <div class="sale-container">
                                    <div class="sale-icon" id="sale3">
                                        <img src="assets/SALE_ICON.png">
                                    </div>
                                </div>

                                <img src="assets/offer6.webp">
                                <h3>Paket Chocolate Carnival</h3>
                                <p>Berlaku hingga 31 Mei 2024</p>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <button id="show-button">See all offers</button>
        </div>
    <!-- </section> -->

    <div class="box-1-1">
        <h1>Favourite Menu</h1>
        <ul>
            <li class="coloring-mac">
                <div class="card">
                    <a href="/order">
                        <div class="card-content">
                            <img src="assets/menu/2-6.png">
                            <h3>Big Mac®</h3>
                            <p>Rp 43.500</p>
                        </div>
                    </a>
                </div>
            </li>
            <li class="coloring-mac">
                <div class="card">
                    <a href="/order">
                        <div class="card-content">
                            <img src="assets/menu/2-11.png">
                            <h3>PaMer 5</h3>
                            <p>Rp 131.500</p>
                        </div>
                    </a>
                </div>
            </li>
            <li class="coloring-mac">
                <div class="card">
                    <a href="/order">
                        <div class="card-content">
                            <img src="assets/menu/4-2.png">
                            <h3>Oreo McFlurry®</h3>
                            <p>Rp 14.000</p>
                        </div>
                    </a>
                </div>
            </li>
            <li class="coloring-mac">
                <div class="card">
                    <a href="/order">
                        <div class="card-content">
                            <img src="assets/menu/2-13.png">
                            <h3>PaNas 1</h3>
                            <p>Rp 39.000</p>
                        </div>
                    </a>
                </div>
            </li>
            <li class="coloring-mac">
                <div class="card">
                    <a href="/order">
                        <div class="card-content">
                            <img src="assets/menu/2-2.png">
                            <h3>McNuggets® 9pcs</h3>
                            <p>Rp 55.000</p>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
        <a href="/order"><button>See all menu</button></a>
    </div>
    <div class="box-1-2" id="index">
        <img src="assets/img_home-birthday.jpg" id="index">
        <div class="content">
            <h1 id="index">Create happy moments for your kids</h1>
            <p>Everything exciting only in McDonald's Kids World</p>
            <button>Learn more</button>
        </div>
    </div>