<!--
    Location Page, informasi lokasi MCDini ada dimana,
    ada 2 lokasi
-->
<section class="location">
        <div class="header">
            <h2>Our Locations</h2>
        </div>
        <div class="map-container">
            <div class="map1"> <!-- Lokasi 1 -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1620.318110171529!2d106.79026066355384!3d-6.1692760889820075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f65c8572640d%3A0xc0a066d78372614e!2sTarumanagara%20University!5e0!3m2!1sen!2sid!4v1709264664773!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="map-desc1">
                <h3>McDini's Tarumanagara</h3>
                <h4>Open today on 08.00 - 21.00</h4>
                <p>Jl. Letjen S. Parman No.1, RT.6/RW.16 <br>
                    Tomang, Grogol Petamburan <br> 
                    West Jakarta City, Jakarta 11440</p>
                <a href="https://maps.app.goo.gl/UXgx8vTtyumLvMCy7" class="button" target="_blank">View on Google Maps</a>
            </div>
        </div>
        <div class="map-container" style="background-color: white;">
            <div class="map-desc2"> <!-- Lokasi 2 -->
                <h3>McDini's Tarumanagara 2</h3>
                <h4>Open today on 08.00 - 21.00</h4>
                <p>Jl. Tanjung Duren Raya No.1, RT.11/RW.1 <br>
                    North Tanjung Duren, Grogol Petamburan <br>
                    West Jakarta City, Jakarta 11470</p>
                <a href="https://maps.app.goo.gl/3Y2sA6rhZ6KtKSAn6" class="button" target="_blank">View on Google Maps</a>
            </div>
            <div class="map2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1620.3173489751487!2d106.78685108236327!3d-6.169525098436452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f65b6d49859b%3A0x2fe742e2ad111d56!2sTarumanegara%20Univ!5e0!3m2!1sen!2sid!4v1709266029262!5m2!1sen!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>     
    </section>