   <!-- Popup login -->
    <section class="login-section">
        <div class="login">
            <button id="show-login">Login</button>
        </div>
        <div class="login-popup">
            <div class="login-content">
            <div class="login-close-btn">&times;</div>
                <form class="form">
                    <h2>Log in</h2>
                    <div class="form-element">
                        <label for="email">Email</label>
                        <input type="text" name="email" placeholder="Enter email" required/>
                        <div class="email-error" style="color: red;"></div>
                    </div>
                    <div class="form-element">
                        <label for="password">Password</label>
                        <input type="password" name="password" placeholder="Enter password" required/>
                        <div class="password-error" style="color: red;"></div>
                    </div>
                    <div class="form-element">
                        <button>Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script>
        const loginButton = document.querySelector('#show-login');
        const loginPopup = document.querySelector('.login-popup');
        const closeloginButton = document.querySelector('.login-popup .login-close-btn');
        
        // Show login popup
        loginButton.addEventListener("click", () => {
            loginPopup.style.top = "0%";
            loginPopup.style.opacity = "1";
            loginPopup.classList.add("active");
        });

        // Close login popup
        closeloginButton.addEventListener("click", () => {
            loginPopup.style.top = "-150%";
            loginPopup.style.opacity = "0";
            loginPopup.classList.remove("active");
        });

        const form = document.querySelector('form');

    const emailError = document.querySelector('.email-error');
    const passwordError = document.querySelector('.password-error');
    
    // Login submit
    form.addEventListener('submit', async (err) => {
        err.preventDefault();

        
        // RESET 
        emailError.textContent = "";
        passwordError.textContent = "";

        const email = form.email.value;
        const password = form.password.value;

        try {
            const res = await fetch('/login', {
                method: 'POST',
                body: JSON.stringify( { email: email, password: password }),
                headers: { 'Content-Type': 'application/json' },
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
            }
            console.log(data.user);
            if (data.user) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 1000,
                    timerProgressBar: true,
                });
                Toast.fire({
                    customClass: {
                        container: "my-swal"
                    },
                    icon: "success",
                    title: `Welcome, ${data.username}!`
                });
                setTimeout(() => {
                    location.assign('/');
                }, 1000);
            }
        }
        catch (err) {
            console.log(err);
        }
    });
    </script>