<!-- order page -->
    <div class="filler" style="margin-top: 60px;"></div>

    <div class="container" id="order">
        <div class="icon-cart">
            <svg id="cart-button" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 10V6a3 3 0 0 1 3-3v0a3 3 0 0 1 3 3v4m3-2 1 12c0 .5-.5 1-1 1H6a1 1 0 0 1-1-1L6 8h12Z"/>
                </svg>
                <span id="cartCount">0</span>
        </div>
    </div>
    
    <!-- TAB -->
    <div class="cartTab">
        <h1>Shopping Cart</h1>
        <div class="listCart">
        </div>
        <div style="display: grid;">
            <hr style="width: 450px; height: 2.5px; border-width: 0px; color: #2F3841; background-color: #2F3841; margin: 0 auto;">
            <div class="subtotal" style="font-size: 16px; font-family: poppins, sans-serif; font-weight: 700; color: #202020; padding: 10px 25px; display: grid; grid-template-columns: 240px 40px auto;">
                <div id="totalPrice" style="text-align: right; padding-right: 20px;">
                    Total Price
                    <div id="cartCountTotal" style="font-size: 12px; color: #909090; font-weight: 500;">
                        <span id="cartCountTotal">0</span> item(s)
                    </div>
                </div>
                <div id="rupiah" style="font-size: 24px; text-align: right;">
                    Rp
                </div>
                <div id="cartTotal" style="font-size: 24px; text-align: right;">
                    <span id="cartTotal">0</span>
                </div>
            </div>
            <div class="btn">
                <button class="close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg></button>
                <button class="checkOut" onclick="checkout()">Checkout <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></button>
            </div>
        </div>
    </div>
        <!-- PROMOTION MENU -->
        
        <div class="box-1-1" id="order" style="display: block;">
            <h1>Promotion Menu</h1>

            <div class="box-1-1-1">
                <div class="card-container">
                    <ul id="menu-promotion" style="display: grid"></ul>
                </div>
            </div>
        </div>
    
    
        <!-- ALA CARTE & VALUE MEALS -->
    
        <div class="box-1-2" id="order" style="display: block;">
            <h1>Ala Carte & Value Meals</h1>
    
            <div class="box-1-2-1">
                <div class="card-container">
                    <ul id="menu-ala carte" style="display: grid"></ul>
                </div>
            </div>
        </div>
    
        <!-- SIDES -->
    
        <div class="box-1-1" id="order" style="display: block;">
            <h1>Sides</h1>
            <div class="box-1-1-1">
                <div class="card-container">
                    <ul id="menu-sides" style="display: grid"></ul>
                </div>
            </div>
        </div>
                
    
        <!-- DESSERTS -->
    
        <div class="box-1-2" style="display: block;">
            <h1>Desserts</h1>
            <div class="box-1-2-1">
                <div class="card-container">
                    <ul id="menu-desserts" style="display: grid"></ul>
                </div>
            </div>
        </div>
    
        <!-- BEVERAGES -->
    
        <div class="box-1-1" id="order" style="display: block;">
            <h1>Beverages</h1>
            <div class="box-1-1-1">
                <div class="card-container">
                    <ul id="menu-beverages" style="display: grid"></ul>
                </div>
            </div>
        </div>
    
        <!-- McCafé Pastries -->
        <div class="box-1-2" style="display: block;">
            <h1>McCafé Pastries</h1>
            <div class="box-1-2-1">
                <div class="card-container">
                    <ul id="menu-cafe" style="display: grid"></ul>
                </div>
            </div>
        </div>

        <div class="box-1-2" id="no-match" style="display: none;">
            <div style="margin: 18% 25%;">
                <h1>No result found :(</h1>
            </div>
        </div>
        
    </div>