<section class="signup-section">
    <div class="signup">
        <button id="show-signup">Sign Up</button>
    </div>
    <div class="signup-popup">
        <div class="signup-content">
        <div class="signup-close-btn">&times;</div>
            <form class="form">
                <h2>Sign Up</h2>
                <div class="form-element">
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Enter username" required/>
                    <div class="usernameerror"></div>
                </div>
                <div class="form-element">
                    <label for="email">Email</label>
                    <input type="text" name="email" placeholder="Enter email" required/>
                    <div class="emailerror"></div>
                </div>
                <div class="form-element">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Enter password" required/>
                    <div class="passworderror"></div>
                </div>
                <div class="form-element">
                    <button>Sign up</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    const signupButton = document.querySelector('#show-signup');
    const signupPopup = document.querySelector('.signup-popup');
    const closesignupButton = document.querySelector('.signup-popup .signup-close-btn');

    signupButton.addEventListener("click", () => {
        signupPopup.style.top = "0%";
        signupPopup.style.opacity = "1";
        signupPopup.classList.add("active");
    });

    closesignupButton.addEventListener("click", () => {
        signupPopup.style.top = "-150%";
        signupPopup.style.opacity = "0";
        signupPopup.classList.remove("active");
    });


    const signupform = document.querySelector('.signup-popup .form');

    const signupusernameError = document.querySelector('.usernameerror');
    const signupemailError = document.querySelector('.emailerror');
    const signuppasswordError = document.querySelector('.passworderror');

    signupform.addEventListener('submit', async (err) => {
        err.preventDefault();

        
        // RESET 
        signupusernameError.textContent = "";
        signupemailError.textContent = "";
        signuppasswordError.textContent = "";

        const username = signupform.username.value;
        const email = signupform.email.value;
        const password = signupform.password.value;

        try {
            const res = await fetch('/signup', {
                method: 'POST',
                body: JSON.stringify({
                    username: username,
                    email: email,
                    password: password 
                }),
                headers: { 'Content-Type': 'application/json' },
            });
            const data = await res.json();
            console.log(data);
            if (data.errors) {
                signupusernameError.textContent = data.errors.username;
                signupemailError.textContent = data.errors.email;
                signuppasswordError.textContent = data.errors.password;
            }
            if (data.user) {
                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 1000,
                    timerProgressBar: true,
                    // didOpen: (toast) => {
                    //     toast.onmouseenter = Swal.stopTimer;
                    //     toast.onmouseleave = Swal.resumeTimer;
                    // }
                });
                Toast.fire({
                    customClass: {
                        container: "my-swal"
                    },
                    icon: "success",
                    title: `Welcome, ${data.username}!`
                });
                setTimeout(() => {
                    location.assign('/');
                }, 1000);
            }
        }
        catch (err) {
            console.log(err);
        }

        // console.log(username, email, password);
    });
</script>