* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: black;
    margin: 0px;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 12px 0;
    top: 0;
    display: block;
    z-index: 2000;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    position: relative;
    align-items: center;
}

.navbar a{
    font-size: 20px;
    color: black;
    font-weight: 300px;
    margin: 0px 20px;
    transition: 0.5s;
}

.navbar a:hover, .navbar a:active{
    color: rgb(255,199,44);
}

.navbar img {
    width: auto;
    height: 50px;
    margin-left: 15px;
}

.navbar ul {
    display: flex;
}

ul {
    list-style-type: none;
}

li {
    justify-content: space-between;
    margin: 7px 10px;
}

li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

/* ===== style.css ===== */
li a:hover {
    color: rgb(255,199,44);
}
/* ===== style.css ===== */

.coloring-mac a:hover {
    color: black;
}

/* masih ragu mau buat slider atau enggak */
.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(150, 44, 44);
    background-size: cover;
    margin-top: 25px;
    padding: 50px 10%;
}

.home img {
    width: 100%;
    height: auto;
    align-items: center;
}

.animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    animation: show-right 0.4s ease-out forwards;
    animation-delay: calc(0.1s * var(--i));
    z-index: 100;
}

@keyframes show-right {
    100% {
        width: 0;
    }
}

.sale-container {
    position: relative;
    width: 100%;
    z-index: 1;
}

.sale-icon {
    top: -30px;
    left: -50px;
    position: absolute;
    width: 110px;
    box-sizing: border-box;
    overflow: hidden;
    animation: float 2s ease-in-out infinite;
}

#sale1 {
    animation: float 2.5s ease-in-out infinite;
}

#sale2 {
    animation: float 1.5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }    
    50% {
        transform: translateY(-20px);
    }    
    100% {
        transform: translateY(0px);
    }
}


.banner {
    object-fit: cover;
    width: 100%;
    height: 55%;
    padding-top: 75px;
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.box-1 {
    padding-top: 20px;
    padding: 50px 10%;
    background: rgb(150, 44, 44);
}

.box-1 ul {
    /* padding-top: 2%; */
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.box-1 li {
    margin: 15px 15px;
}
.box-1 h1{
    padding: 10px 0;
    color: white;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.box-1 button {
    display: flex;
    margin: 0 auto;
    background-color: rgb(218,41,28);
    border: none;
    color: white;
    height: 40px;
    width: auto;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    padding: 0 10px;
    transition: background-color 0.5s ease;
    margin-top: 20px;
    transition: 0.5s;
}

.box-1 button:hover {
    background-color: rgb(174, 32, 22);;
}

.box-1-1 {
    background-color: #f2f2f2;
    padding: 50px 10%;

}
.box-1-1#order {
    background-color: #ffbc0d;
}

.box-1-1 ul{
    display: flex;
    justify-content: center;
}

/* .box-1-1 h1{
    text-align: center;
} */

/* ===== order.css ===== */
.box-1-1 h1{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
}
/*  */

.box-1-1 button {
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    background-color: rgb(218,41,28);
    border: none;
    color: white;
    height: 40px;
    width: auto;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    padding: 0 10px;
    transition: background-color 0.5s ease;
}

.box-1-1 button:hover {
    background-color: rgb(174, 32, 22);;
}

.box-1-1-1 {
    background-color: #ffbc0d;
}

/* .box-1-1-1 img {
    margin: 30px 40px;
} */

.box-1-1-1 ul{
    display: flex;
    justify-content: center;
}

.box-1-1-1 h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-1-1-1 button {
    display: flex;
    margin: 0 auto;
    margin-top: 5px;
    background-color: rgb(218,41,28);
    border: none;
    color: white;
    height: 40px;
    width: auto;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    padding: 0 10px;
    transition: background-color 0.5s ease;
}

.box-1-1-1 button:hover {
    background-color: rgb(174, 32, 22);;
}

.card {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding-bottom: 5px;
    transition: box-shadow 0.3s ease;
    background-color: white;
}

.card img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 5px;
}

.card img#order {
    width: 300px;
}

.card .card-content {
    margin: 10px 10px;
    background-color: white;

}

.card .card-content h3{
    height: 1.5em;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* .card .card-content h3#order{
    margin: 0px 0px;
    margin-top: 10px;
} */

.card .card-content p{
    font-size: 18px;;
    margin-top: 5px;
}

.card:hover {
    box-shadow: 0 0 10px 2px gray;
}

.box-1-2 {
    background-color: #f2f2f2;
    padding: 50px 10%;

}

.box-1-2#index{
    background-color: #ffbc0d;
    display: flex;
    padding: 0 0 0 20px;
}

.box-1-2 ul{
    display: flex;
    justify-content: center;
}

.box-1-2 h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.box-1-2 img {
    width: 40%;
    height: auto;
}

.box-1-2 .content {
    margin: auto 0;
    margin-left: 20px;
}

.box-1-2 button {
    position: relative;
    margin: 0 auto;
    margin-top: 5px;
    background-color: rgb(218,41,28);
    border: none;
    color: white;
    height: 40%;
    width: auto;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    padding: 0 10px;
    transition: background-color 0.5s ease;
}

.box-1-2 button:hover {
    background-color: rgb(174, 32, 22);;
}

.box-1-2-1 {
    background-color: #f2f2f2;
}

.box-1-2-1 ul{
    display: flex;
    justify-content: center;
}

.box-1-2-1 button {
    display: flex;
    margin: 0 auto;
    margin-top: 5px;
    background-color: rgb(218,41,28);
    border: none;
    color: white;
    height: 40px;
    width: auto;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    padding: 0 10px;
    transition: background-color 0.5s ease;
}

.box-1-2-1 button:hover {
    background-color: rgb(174, 32, 22);;
}

/* FOOTER */
footer {
    /* margin-top: 40rem; */
    bottom: 0;
    width: 100%;
    background-color: rgb(150, 44, 44);
    color: white;
    padding-top: 20px;
}

footer h4 {
    padding-top: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
}

footer .footer-container {
    display: flex;
}

footer .footer-container ul {
    list-style-type: none;
    margin: 0 20px;
    margin-left: 50px;
}

footer .footer-container ul li {
    margin: 5px 0;
}

footer .footer-container ul li a {
    color: white;
    text-decoration: none;
}

footer .footer-container ul li a:hover {
    color: rgb(255,199,44);
}

footer .footer-container {
    justify-content: space-between;
    margin-right: 10%;
}

footer .footer-container .footer-link {
    display: flex;
}

footer .footer-container img {
    width: 30%;
    height: auto;
}

footer .footer-container h1 {
    align-items: center;
}

footer .footer-logo {
    display: flex; 
    justify-content: space-evenly;
}

footer .copy {
    margin-left: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
}

/* ====== about.css ====== */

.about {
    position: relative;
    width: 100%;
    background-size: cover;
    margin: 0 auto;
}

.about .header {
    background-color: white;
    color: black;
    margin-top: 4rem;
    padding-top: 2rem;
    text-align: center;
}

.container#about {
    display: flex;
    width: 100%;
    background: white;
    justify-content: center;
}

/* ===== order.css ===== */
.container#order {
    transition: transform .5s;
    max-width: 90vw;
    text-align: center;
    padding: 15px;
    bottom: 20px;
    right: 20px;
    position: fixed;
    box-shadow: 0 0 10px 2px gray;
    border-radius: 10px;
    background-color: white;
}
/*  */

svg {
    width: 30px;
}

.icon-cart {
    position: relative;
}

.cartTab {
    padding-top: 60px;
    width: 400px;
    background-color: #353432;
    color: white;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}

body.showCart .cartTab {
    inset: 0 0 0 auto;
    z-index: 2;
}

.cartTab h1 {
    padding: 20px;
    margin: 0;
    font-weight: 300;
}

.cartTab .btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cartTab .btn button {
    background-color: rgb(218, 41, 28);
    border: none;
    font-weight: bold;
    /* font-weight: 500; */
    cursor: pointer;
    padding: 10px 0;
}

.cartTab .btn .close {
    background-color: #eee;
}

.listCart img{
    width: 100%;
}

.listCart .item {
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}

.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    color: #555;
    border-radius: 50%;
    cursor: pointer;
}

.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
}

.listCart .item:nth-child(even){
    background-color: #eee1;
}

.listCart {
    overflow: auto;
}

.listCart::-webkit-scrollbar{
    width: 0;
}


.container span {
    display: flex;
    margin-left: 5px;
    height: 20px;
    width: 20px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    right: -20%;
}

.container .creator{
    margin: auto 0;
    padding-left: 4rem;
}

.container .creator p {
    padding: 1rem 0;
    margin-right: 12rem;
}

.container .creator td:nth-child(2) {
    color: rgb(150, 44, 44);
    font-weight: 800;
}

.container .creator td {
    padding-right: 40px;
    font-size: 16px;
    text-transform: none;
}

.container .creator b {
    font-size: large;
}

.container img {
    padding: 4rem 0 4rem 4rem;
    float: right;
    width: 40%;
    object-fit: cover;
}

/* ===== location.css ===== */
.location {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    /* background: rgb(150, 44, 44); */
    background-size: cover;
    /* margin-top: 25px; */
    /* margin: 50px 10%; */
    margin: 0 auto;
    /* padding: 0 auto; */
}

.location .header {
    background-color: rgb(150, 44, 44);
    color: white;
    margin-top: 4rem;
    padding-top: 5.2rem;
    text-align: center;
}

.location .map-container {
    display: flex;
    /* align-content: center; */
    width: 100%;
    background: rgb(150, 44, 44);
    justify-content: center;
}

.location .map-container .map1 {
    margin: 4rem 4rem 4rem 2rem;
}

.location .map-container .map-desc1 {
    margin: 4rem 4rem 4rem 2rem;
}

.location .map-container .map-desc1 h3 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 2rem;
}

.location .map-container .map-desc1 h4 {
    color: white;
    font-size: 18px;
    padding-bottom: 1rem;
}

.location .map-container .map-desc1 p {
    color: white;
    padding-bottom: 2rem;
}

.location .map-container .map-desc1 .button {
    font-size: 14px;
    display: flex;
    margin: 0;
    background-color: rgb(218,41,28);
    border: none;
    color: white;
    height: 50px;
    width: 80%;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.location .map-container .map-desc1 a.button:hover {
    background-color: rgb(174, 32, 22);
}

.location .map-container .map2 {
    margin: 8rem 2rem 10rem 6rem;
}

.location .map-container .map-desc2 {
    margin: 8rem 0rem 10rem 2rem;
}

.location .map-container .map-desc2 h3 {
    color: black;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 2rem;
}

.location .map-container .map-desc2 h4 {
    color: black;
    font-size: 18px;
    padding-bottom: 1rem;
}

.location .map-container .map-desc2 p {
    color: black;
    padding-bottom: 2rem;
}

.location .map-container .map-desc2 .button {
    font-size: 14px;
    display: flex;
    margin: 0;
    background-color: rgb(218,41,28);
    border: none;
    color: white;
    height: 50px;
    width: 80%;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.location .map-container .map-desc2 a.button:hover {
    background-color: rgb(174, 32, 22);
}