* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: black;
    margin: 0px;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
    align-items: center;
    padding: 12px 0;
    top: 0;
    display: block;
    z-index: 2000;
    position: fixed;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    position: relative;
    align-items: center;
}

.navbar a{
    font-size: 20px;
    color: black;
    font-weight: 300px;
    margin: 0px 20px;
    transition: 0.5s;
}

.navbar a:hover, .navbar a:active{
    color: rgb(255,199,44);
}

.navbar img {
    width: auto;
    height: 50px;
    margin-left: 15px;
}

.navbar ul {
    display: flex;
}

ul {
    list-style-type: none;
}

li {
    justify-content: space-between;
    margin: 7px 10px;
}

li a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

/* Header end */

.location {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    /* background: rgb(150, 44, 44); */
    background-size: cover;
    /* margin-top: 25px; */
    /* margin: 50px 10%; */
    margin: 0 auto;
    /* padding: 0 auto; */
}

.location .header {
    background-color: rgb(150, 44, 44);
    color: white;
    margin-top: 4rem;
    padding-top: 5.2rem;
    text-align: center;
}

.location .map-container {
    display: flex;
    /* align-content: center; */
    width: 100%;
    background: rgb(150, 44, 44);
    justify-content: center;
}

.location .map-container .map1 {
    margin: 4rem 4rem 4rem 2rem;
}

.location .map-container .map-desc1 {
    margin: 4rem 4rem 4rem 2rem;
}

.location .map-container .map-desc1 h3 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 2rem;
}

.location .map-container .map-desc1 h4 {
    color: white;
    font-size: 18px;
    padding-bottom: 1rem;
}

.location .map-container .map-desc1 p {
    color: white;
    padding-bottom: 2rem;
}

.location .map-container .map-desc1 .button {
    font-size: 14px;
    display: flex;
    margin: 0;
    background-color: rgb(218,41,28);
    border: none;
    color: white;
    height: 50px;
    width: 80%;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.location .map-container .map-desc1 a.button:hover {
    background-color: rgb(174, 32, 22);
}

.location .map-container .map2 {
    margin: 8rem 2rem 10rem 6rem;
}

.location .map-container .map-desc2 {
    margin: 8rem 0rem 10rem 2rem;
}

.location .map-container .map-desc2 h3 {
    color: black;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 2rem;
}

.location .map-container .map-desc2 h4 {
    color: black;
    font-size: 18px;
    padding-bottom: 1rem;
}

.location .map-container .map-desc2 p {
    color: black;
    padding-bottom: 2rem;
}

.location .map-container .map-desc2 .button {
    font-size: 14px;
    display: flex;
    margin: 0;
    background-color: rgb(218,41,28);
    border: none;
    color: white;
    height: 50px;
    width: 80%;
    font-weight: bold;
    border-radius: 3px;
    line-height: 35px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s ease;
}

.location .map-container .map-desc2 a.button:hover {
    background-color: rgb(174, 32, 22);
}

/* FOOTER */

footer {
    /* margin-top: 40rem; */
    bottom: 0;
    width: 100%;
    background-color: rgb(150, 44, 44);
    color: white;
    padding-top: 20px;
}

footer h4 {
    padding-top: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
}

footer .footer-container {
    display: flex;
}

footer .footer-container ul {
    list-style-type: none;
    margin: 0 20px;
    margin-left: 50px;
}

footer .footer-container ul li {
    margin: 5px 0;
}

footer .footer-container ul li a {
    color: white;
    text-decoration: none;
}

footer .footer-container ul li a:hover {
    color: rgb(255,199,44);
}

footer .footer-container {
    justify-content: space-between;
    margin-right: 10%;
}

footer .footer-container .footer-link {
    display: flex;
}

footer .footer-container img {
    width: 30%;
    height: auto;
}

footer .footer-container h1 {
    align-items: center;
}

footer .footer-logo {
    display: flex; 
    justify-content: space-evenly;
}

footer .copy {
    margin-left: 50px;
    margin-top: 20px;
    padding-bottom: 20px;
}